main{
  background-image: url('../images/background.jpg');

}
.principal{
  margin-bottom: 0rem;
  background-color: white;
}
.nuestrosservicios{
  padding-bottom: 2rem;
}
.pie{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
